/* Quinoa colors:
 *   blue:         #1d3564
 *   dark orange:  #c96a00
 *   light orange: #e6851c
 *   Text ASCII Art Generator used for executable names:
 *     http://patorjk.com/software/taag
 *   Picture ASCII Art Generator used for converting the logo text "Quinoa":
 *     http://picascii.com
 */

div.image img[src="quinoa.svg"]{
  height: auto;
  float:  right;
  width:  25%;
}

div.image img[src="kattekrab-Mainframe.svg"]{
  height: auto;
  float:  right;
  width:  20%;
}

div.image img[src="Boton-correcto.svg"]{
  height: auto;
  float:  right;
  width:  20%;
}

div.image img[src="Triangle.svg"]{
  height: auto;
  float:  right;
  width:  20%;
}

div.image img[src="techie-arsitek.svg"]{
  height: auto;
  float:  right;
  width:  20%;
}

div.image img[src="celticknot1.svg"]{
  height: auto;
  float:  right;
  width:  15%;
}

div.image img[src="handshake.svg"]{
  height: auto;
  float:  right;
  width:  20%;
}

div.image img[src="document.svg"]{
  height: auto;
  float:  right;
  width:  15%;
}

div.image img[src="Happy-Penguin.svg"]{
  height: auto;
  float:  right;
  width:  15%;
}

div.image img[src="nicubunu-Tools.svg"]{
  height: auto;
  float:  right;
  width:  15%;
}

div.image img[src="bonker.svg"]{
  height: auto;
  float:  right;
  width:  40%;
}

div.image img[src="breeze.svg"]{
  height: auto;
  float:  right;
  width:  40%;
}

div.image img[src="meshconv.svg"]{
  height: auto;
  float:  right;
  width:  40%;
}

div.image img[src="unittest.svg"]{
  height: auto;
  float:  right;
  width:  40%;
}

div.image img[src="rngtest.svg"]{
  height: auto;
  float:  right;
  width:  40%;
}

div.image img[src="quinoa_txt.svg"]{
  height: auto;
  float:  right;
  width:  40%;
}

div.image img[src="walker.svg"]{
  height: auto;
  float:  right;
  width:  40%;
}

div.image img[src="all2allcost.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}

div.image img[src="dir_mean.svg"]{
  height: auto;
  float:  left;
  width:  50%;
}

div.image img[src="dir_cov.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}

div.image img[src="gendir_mean.svg"]{
  height: auto;
  float:  left;
  width:  50%;
}

div.image img[src="gendir_cov.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}

div.image img[src="skew_mom.svg"]{
  height: auto;
  float:  left;
  width:  50%;
}

div.image img[src="skew_pdf.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}

div.image img[src="diagou_means.svg"]{
  height: auto;
  float:  left;
  width:  50%;
}

div.image img[src="diagou_sec.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}

div.image img[src="diagou_pdf.svg"]{
  height: auto;
  float:  center;
  width:  75%;
}

div.image img[src="ou_means.svg"]{
  height: auto;
  float:  left;
  width:  50%;
}

div.image img[src="ou_cov.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}

div.image img[src="ou_pdf.svg"]{
  height: auto;
  float:  center;
  width:  75%;
}

div.image img[src="beta_mean.svg"]{
  height: auto;
  float:  left;
  width:  50%;
}

div.image img[src="beta_var.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}

div.image img[src="beta_pdf.svg"]{
  height: auto;
  float:  left;
  width:  50%;
}

div.image img[src="beta_cov.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}

div.image img[src="gamma_mean.svg"]{
  height: auto;
  float:  left;
  width:  50%;
}

div.image img[src="gamma_var.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}

div.image img[src="gamma_pdf.svg"]{
  height: auto;
  float:  left;
  width:  50%;
}

div.image img[src="gamma_cov.svg"]{
  height: auto;
  float:  right;
  width:  50%;
}
.title {
  font-size: 26px;
}

h1 {
  font-size: 22px;
}

pre.fragment {
  font-size:  9pt;
}

span.comment {
	color: #888888
}

span.preprocessor {
	color: #cd5c5c
}
