/* Quinoa colors:
 *   blue:         #1d3564
 *   dark orange:  #c96a00
 *   light orange: #e6851c
 *   Text ASCII Art Generator used for executable names:
 *     http://patorjk.com/software/taag
 *   Picture ASCII Art Generator used for converting the logo text "Quinoa":
 *     http://picascii.com
 */

div.image img[src="quinoa.svg"]{ 
  height: auto;
  float:  right;
  width:  25%;
}

span.comment {
	color: #888888
}

span.preprocessor {
	color: #cd5c5c
}
