/* Quinoa colors:
 *   blue:         #1d3564
 *   dark orange:  #c96a00
 *   light orange: #e6851c
 *   Text ASCII Art Generator used for executable names:
 *     http://patorjk.com/software/taag
 *   Picture ASCII Art Generator used for converting the logo text "Quinoa":
 *     http://picascii.com
 */

.title {
  font-size: 26px;
}

h1 {
  font-size: 22px;
}

pre.fragment {
  font-size:  9pt;
}

span.comment {
	color: #888888
}

span.preprocessor {
	color: #cd5c5c
}
