#rows   cols    constraints
*       1-2                     # no constraint: smallest representable float
*       3       rel=0.05        # tolerance for means
*       4-$     abs=0.2         # tolerance for 2nd order stats
